@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

html[data-bs-theme="dark"] body {
  background-color: black;
  color: white;
  --color-gray-400: #d1d5db;
  --color-violet-300: #5b21b6;
  --color-violet-400: #6d28d9;
  --color-red: #dc2626;
  --color-green-300: #059669;
  --color-green-400: #10b981;
}

html[data-bs-theme="light"] body {
  background-color: white;
  color: black;
  --color-gray-400: #d1d5db;
  --color-violet-300: #c4b5fd;
  --color-violet-400: #a78bfa;
  --color-red: #f87171;
  --color-green-300: #34d399;
  --color-green-400: #10b981;
}

html[data-bs-theme="dark"] input,
textarea {
  color: black;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-violet-300);
    border-right-color: rgb(255, 228, 228);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.5px solid var(--color-violet-300);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .spinner-super {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: var(--color-violet-300);
    animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
